html, body{
    margin: 0%;
    padding: 0%;
}

:root{
   --black: #26333D;
   --Blue: #4a67DF;
   --cyan: #2FD6CB;
   --cream: #E9F0EF;
   --white: #FFFFFF;

}

header{
    width:100vw ;
    height: 8vh;
    background: linear-gradient(350deg, var(--cyan), var(--Blue));
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px 50px; 
}
nav {
    display: flex; /* Mantenha o display flex */
    align-items: center; /* Alinhe verticalmente */
    flex-grow: 1;
}

nav h1, nav h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: x-large;
    margin: 0 10px;  
    color: #FFFFFF;
    border-style: ridge;
    border-width: 2px;
    display: inline-block;
    padding: 0 20px;
    width: auto;
}


h3{
    text-align: center; 
    margin: 0; 
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.logo{
    float: left;
    width: 190px;
    padding-top: 0px;
    margin-left: 50px; 
}